@import "tailwindcss";

@theme {
  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #F8FAFC;
  --color-bg-accent: #EEF2F7;
  --color-text-primary: #0F172A;
  --color-text-secondary: #334155;
  --color-text-muted: #64748B;
  --color-accent: #6D5EF6;
  --color-accent-hover: #7C6BFA;
  --color-border: #CBD5E1;
  --color-link: #2563EB;
}



html {
  scroll-behavior: smooth;
  @apply bg-bg-primary;
}
